<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/reset-css.css"/>
</head>

<body>
<div th:fragment="navbar">
    <nav class="px-3 navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

        <!--<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggle-icon"></span>
        </button>-->

        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li>
                    <a class="navbar-brand" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/employees/all}">All Employees</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/departments/all}">All Departments</a>
                </li>
                <li>
                    <a class="nav-link" th:href="@{/users/registration}">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
