body{
    background-image: url('/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: cadetblue;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

table{
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding:10px 30px;
    background-color: #b4e6fa;
}
tbody{
    color: #c5cfd9;
}

.container, .container-fluid {
    padding-top: 90px;
}

.brand-section {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

.card.offer, .offer-details .list-group-item {
    background-image: linear-gradient(to bottom right, rgba(220, 220, 220, 0.9), rgba(255, 255, 255, 0.9));
}

form.main-form {
    background-image: linear-gradient(to bottom right, rgba(70, 70, 70, 0.8), rgba(10, 10, 10, 0.8));
    padding:10px 30px;
    border-radius: 20px;
}
.form-inline{
    justify-content: center;
}

span{
    color: #dee2e6;
}

:root{
    --bs-link-color: #adb5bd;
}

.navbar .logo {
    max-height: 50px;
    padding-right: 100px;
}

.pages{
    color: black;
}

.form-control-color{
    color: darkblue;
}






